local.properties
.externalNativeBuild
google-services.json
freeline_project_description.json
freeline.py
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
*.apk
*.ap_
*.dex
*.class
*.classpath
*.project
*.log
*.iml
*.jks
.gradle/
.settings/
.navigation/
.idea/
release/
bin/
gen/
out/
debug/
release/
build/
proguard/
captures/
freeline/
sampledata/