.DS_Store
/captures
.externalNativeBuild
.cxx

# Built application files
*.apk

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
*.iml
.idea/
app/proguardMapping.txt
app/release/
tmpmob/

